@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Tryfanau Yauheni<br />
    Mogilev<br />
    Teriohina, 13/140<br />
    <abbr title="Phone">P:</abbr>
    +375(29)-549-12-25
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:nomand144@gmail.com">nomand144@gmail.com</a><br />
</address>