
@{
    ViewBag.Title = "Library";
}

<div class="row">
    <div class="col-sm-4">
        <h2>HTML</h2>
        <p>
            Here you can find intrested for you HTML books or sites about HTML.
        </p>
        <p>@Html.ActionLink("Learn more", "HTML", "HTML")</p>
    </div>
    <div class="col-sm-4">
        <h2>CSS</h2>
        <p>
            Here you can find intrested for you CSS books or sites about CSS.
        </p>
        <p>@Html.ActionLink("Learn more", "CSS", "CSS")</p>
    </div>
    <div class="col-sm-4">
        <h2>Javascript</h2>
        <p>
            Here you can find intrested for you Javascript books or sites about Javascript.
        </p>
        <p>@Html.ActionLink("Learn more", "Javascript", "Javascript")</p>
    </div>
</div>

