
@{
    ViewBag.Title = "CSS Library";
}

<p><h2>CSS LIbrary</h2></p>
<p>
    <h3>Books:</h3>
</p>
<div class="container">
    <div class="col-lg-4">
        <p>
            <a class="btn btn-default" href="@Url.Action("Download", new { filePath = @"D:\PROJECT\HW14\HW14\Files\HTMLandCSSBooks\HTML_CSS.pdf",
                   fileName = "HTML_CSS.pdf"})">HTML_CSS.pdf</a>(10.8 MB)
        </p>
        <p>
            <a class="btn btn-default" href="@Url.Action("Download", new { filePath = @"D:\PROJECT\HW14\HW14\Files\HTMLandCSSBooks\HTML_CSS_JS.pdf",
                   fileName = "HTML_CSS_JS.pdf"})">HTML_CSS_JS.pdf</a>(14.0 MB)
        </p>
    </div>
</div>
<p>
    <h3>Helpfull links:</h3>
</p>
<div class="container">
    <div class="col-lg-4">
        <h4>w3school.com</h4>
        <p>Site provides materials not only about CSS, here you can find information about HTML, JS, SQL, ect.</p>
        <a class="btn btn-default" href="https://www.w3schools.com/css/default.asp">w3school.com</a>
    </div>
</div>